{% extends "base.html" %}
{% load static %}





 {% block content %}
        <link rel="stylesheet" href="{% static 'polls/home.css' %}">
  
        
    {% if user.is_authenticated %}
        <h1>Hola {{ user.username }}</h1>
        <a href="{% url 'polls:sign_out' %}">Cerrar sesión</a>
    {% else %}
        <a href="{% url 'polls:register' %}">Registrate</a>
        <a href="{% url 'polls:sign_in' %}">Iniciar sesión</a>
    {% endif %}

        <h1>Hola esta es otra prueba</h1>

        <div class="tarjeta">
            <div class="titulo">Bien venido,  ¿quieres ingresar a las encuestas?</div>
            <div class="cuerpo">
               
            </div>
            
                <a  class="pie" href="{% url 'polls:main' %}">Vamos a ello</a>
           
            </div>
        </div>
 {% endblock content %}